
<div class="center hero-unit">
<%= form_tag({:controller => "sites", :action => "index"}, :method => "get") do %>
   <%= label_tag "Lugar", "Discover the most amazing protected areas!" %>
   <%= text_field_tag "codigo", "", :size => 20, :maxlenght => 20, :placeholder => "Introduce a place to search", :required => "required" %>
   <br />
   <%= submit_tag "Search", class: "btn btn-small btn-primary" %>
<% end %>
</div>

<div id= "table-results">
 <table align="center">  
    <thead>  
      <tr>  
        <%-# <th>Protected Area</th> -%> 
        <%-# <th>Rating</th> -%>
      </tr>  
    </thead>  
    <tbody> 
      <% @search_results.each do |result| %> 
        <tr>            
          <td> 
            <%= link_to result["official"]["NAME"], :controller => "sites", :action => "show", id: result["official"]["WDPAID"] %>
          </td> 
            
          <% if false %>
            <td>
              <div class="ec-stars-wrapper">
                <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
              </div>
            </td>
          <% end %>  
        </tr>
      <% end %>  
            
    </tbody>  
  </table>  
</div>
