<div class="row search-form">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <h3>Discover the most amazing protected areas!</h3>
      </div>
    </div>
    <%= form_tag(search_form_path, class: "form-inline", role: "form") do %>
      <div class="col-md-10 form-group">
        <input type="text" class="form-control" name="codigo" placeholder="Type a place to search" required>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    <% end %>
  </div>
</div>
<div class="row">
  <% if @search_results.any? %>
    <div class="col-md-4 search-results">
      <h3>Protected Areas:</h3>
      <ul class="list-group">
        <% @search_results.each do |result| %>
          <li class="list-group-item">
            <span class="glyphicon glyphicon-home"></span>
            <%= link_to result["official"]["NAME"], sites_view_path(id: result["official"]["WDPAID"]) %> <br> 
            <%= link_to '0 Comments', sites_view_path(id: result["official"]["WDPAID"], anchor: "disqus_thread") %> </li>
</li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @search_results.any? %>
    <div class="col-md-8">
  <% else %>
    <div class="col-md-12">
  <% end %>
        <div id="map-canvas"></div>
    </div>
</div>


<script type="text/javascript">
  setTimeout(function(){
    var bounds = new google.maps.LatLngBounds();
    var markersArray = [];
    <% @search_results.each do |result| %>
      <% geom = result["official"]["GEOM"].split(",").first
          lat = geom.match(/\(\(\((.*) (.*)/)[2]
          lon = geom.match(/\(\(\((.*) (.*)/)[1]
      %>

      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= lat %>,<%= lon %>),
        map: map,
        title: '<%= result["official"]["NAME"] %>'
      });

      markersArray.push(marker);
    <% end %>

    for (var i=0; i < markersArray.length; i++) {
        bounds.extend(markersArray[i].getPosition());
    }
    map.fitBounds(bounds);

  }, 1000);

</script>

    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'protectedareasintern'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
