<div id="toolbar" />
<%= @name%>
 

<iframe src="<%= @url %>" width="100%" height="300"> </iframe>

 
<%= form_for @comment do|f| %>
  <p>
  <%= f.text_field :review %>
  </p>
 
  <p>
    <%= f.submit "Post Comment" %>
  </p>
<% end %>

<%= render :partial => 'comment', :collection => @site.comments %>


