<div id="toolbar" />
<%= @name%>
 <hr />
<% form_for @comment do|f| %>
  <p>
  <%= f.text_field :review %>
  </p>
 
  <p>
    <%= f.submit "Post Comment" %>
  </p>
<% end %>
<%= render :partial => 'comment', :collection => @site.comments %>

<iframe src="<%= @url %>" width="100%" height="300"/>
<%-# render :partial => 'reviews/form', :collection => @reviews.review -%>

<h1>Comments are coming soon!</h1>

